@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@300&display=swap');
h1{
    display: flex;
    text-align: center;
    align-items: center;
    margin:20% 30% ;
    font-family: 'Cookie', cursive;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    background: -webkit-linear-gradient(rgb(236, 138, 253), rgb(255, 162, 81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}